[Unit]
Description=Dashcam Monitor
After=network.target

[Service]
ExecStart=/home/pi/teslacam/src/dashcam-monitor.js
WorkingDirectory=/home/pi/teslacam
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
