[Unit]
Description=Teslacam Dashcam Monitor
After=network.target

[Service]
Environment=NODE_VERSION=10
ExecStart=/home/pi/.nvm/nvm-exec /home/pi/teslacam/src/dashcam-monitor.js
WorkingDirectory=/home/pi/teslacam
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
