[Unit]
Description=Rotate Video
After=network.target

[Service]
ExecStart=/home/pi/teslacam/src/dropbox-upload.js
WorkingDirectory=/home/pi/teslacam
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
